
body {
  background-image: url('../images/rainbow.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 10000px, auto;
  background-attachment: fixed, scroll;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

body, html {
  height: 100%;
  margin: 0;
}

#pepe {
  /* The image used */
  background-image: url('../images/pepefrg-4');
  

  /* Full height */
  width: 1920px;
  height: 1080px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
